* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html , body {
    height: 100%;
    background-color: #0c0d0e;
}

body {
    align-items: center;
}


#main-header {
    padding: 0.5rem 1rem; 
    color: rgb(0, 255, 200);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

#navbar{
    padding: 0.5rem 1rem; 
    color: #d6a506;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

h1 {
    color: #d6a506;;
}

p {
    color: white;
}

.btn-primary {
    border-color: #0c0d0e;
    color: #d6a506;
    text-decoration-color: #d6a506;
    background-color: #0c0d0e;
}

.button:hover{
    text-decoration-line: underline;
}

#cuerpo {
padding: 2rem;
align-items: center;
}

span{
    color: #d6a506;
}

.card{    
    border-color: #d6a506;
    background-color: #0c0d0e;
    color: #d6a506;
    padding: 7px;
    align-items: center;
    font-weight: 700;
    width: 220px;
}

button{
    border-color: #d6a506;
    background-color: #0c0d0e;
    color: #d6a506;
    border-radius: 25px;
    padding: 7px;
    align-content: flex-start;
}